### MICRO-BENCHMARKING

In [1]:
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd
import numpy as np

In micro_max.csv is contained the data of the noisy (16, 20, 25, 30) trainset of H36M made up by the oracle.

In [17]:
df = pd.read_csv('checkpoints/micro_max.csv')

bins = np.arange(df['mpjpe_in_out50'].min(), df['mpjpe_in_out50'].max() + 51, 20)
df['in_out_bins'] = pd.cut(df['mpjpe_in_out50'], bins, right=False)

grouped = df.groupby('in_out_bins')

list_in_gt = []
list_in_gt_std = []
list_inout = []
list_inout_std = []

interval = []
mode = []

for index,i in enumerate(grouped):
    m = stats.mode(i[1]['best_step'])
    interval.append((index,(i[0].left, i[0].right)))
    mode.append(m)

index = [tupla[0] for tupla in interval]
label = [str(tupla[1]) for tupla in interval]
mode_step = [m.mode for m in mode]
mode_count = [str(m.count) for m in mode]

/tmp/ipykernel_4023668/2691541858.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = df.groupby('in_out_bins')

In [15]:
mode_step
interval

start_bin = [i[1][0] for i in interval]
end_bin = [i[1][1] for i in interval]
step = mode_step
print(list(zip(start_bin, end_bin,step)))
df = pd.DataFrame({'start_bin':start_bin, 'end_bin':end_bin, 'step':step})
df['start_bin'].loc[0] = 0
df['end_bin'].loc[5] = np.inf
df = df.drop(list(range(6,19)))
df['step'] = df['step'].astype(int)
#df.to_csv('lut.csv')
df

[(41.158, 61.158, 8), (61.158, 81.158, 8), (81.158, 101.158, 7), (101.158, 121.158, 8), (121.158, 141.158, 19), (141.158, 161.158, 50), (161.158, 181.158, 50), (181.158, 201.158, 50), (201.158, 221.158, 50), (221.158, 241.158, 50), (241.158, 261.158, 50), (261.158, 281.158, 50), (281.158, 301.158, 50), (301.158, 321.158, 50), (321.158, 341.158, 50), (341.158, 361.158, 50), (361.158, 381.158, 50), (381.158, 401.158, 50), (401.158, 421.158, nan)]

   start_bin  end_bin  step
0      0.000   61.158     8
1     61.158   81.158     8
2     81.158  101.158     7
3    101.158  121.158     8
4    121.158  141.158    19
5    141.158      inf    50